data/
output/

**/*.parquet
**/*.tif
**/*.copc.laz
**/*.laz
**/*.las
**/__pycache__/
**/.pytest_cache/
*.pyc
.venv/
.env
__pypackages__/
.mypy_cache/
.ruf_cache/

.git/
.github/
.gitignore

.vscode/
.idea/

notebooks/